form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}

button {
  width: 20rem;
}

input {
  width: 150%;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}


.select label {
  margin: 0;
}

select{
  width: 100%;
  text-align: center;
}
