<div class="container" [ngClass]="{'weight-invalid':invalidWeight}">
<span class="smaller" title="Numer lejka">{{measurement.dosingNr}}</span>
<span title="Ostatni pomiar">{{measurement.value | ZeroDigits}} g</span>
<span title="Średnia z tej godziny">{{measurement.measurementsHourlyAverage | ZeroDigits}} g</span>
<span title="Średnia z wszystkich pomiarów na tej zmianie">{{measurement.measurementsAverage | ZeroDigits}} g</span>
<span class="smaller" title="Odchylenie od wartości referencyjnej ostatniego pomiaru">{{measurement.deviation | ZeroDigits}} g</span>
</div>
