<div class="container">
  <table>
    <thead>
    <tr>
      <th>Linia</th>
      <th>Praca</th>
      <th>Produkt</th>
      <th>Waga Min. [g]</th>
      <th>Waga OK [g]</th>
      <th>Waga Max. [g]</th>
      <th>Lej 1 [g]</th>
      <th>Lej 2 [g]</th>
      <th>Lej 3 [g]</th>
      <th>Lej 4 [g]</th>
      <th>Lej 5 [g]</th>
      <th>Lej 6 [g]</th>
      <th>Lej 7 [g]</th>
      <th>Lej 8 [g]</th>
      <th>Lej 9 [g]</th>
      <th>Lej 10 [g]</th>
      <th>Lej 11 [g]</th>
      <th>Lej 12 [g]</th>
      <th>Zużycie parafiny odchyłka [%]</th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let line of productionLines">
      <td>{{ line.name }}</td>
      <td><fa-icon icon="power-off" [ngClass]="{'line-working':line.lineActive}"/></td>
      <td>
        <span title="Nazwa produktu produkowanego na tej linii">
          {{line.product.productName}}
        </span>
      </td>
      <td>
        <span title="Minimalna dopuszczalna waga produktu">
          {{line.product.productMinimumWeight}}
        </span>
      </td>
      <td>
        <span title="Waga referencyjna produktu">
          {{line.product.productCorrectWeight}}
        </span>
      </td>
      <td>
        <span title="Maksymalna dopuszczalna waga produktu">
          {{line.product.productMaximumWeight}}
        </span>
      </td>
      <td class="ok" *ngFor="let measurement of line.measurements" [ngClass]="{'nok': measurement.value < line.product.productMinimumWeight || measurement.value > line.product.productMaximumWeight}">
        <span title="Wartość ostatniego pomiaru wagi produktu dla danego leja">
          {{measurement.value}}
        </span>
        <br>
        <span title="Średnia wartość pomiarów dla danego leja w tej godzinie">
          {{measurement.measurementsHourlyAverage}}
        </span>
        <br>
        <span title="Średnia wartość pomiarów dla danego leja na tej zmianie">
          {{measurement.measurementsAverage}}
        </span>
      </td>
      <td class="ok" [ngClass]="{'nok':line.paraffinConsumption.paraffinDeviationPercent > 0}">
        <span title="Procentowa odchyłka zużycia parafiny na tej zmianie">
          {{line.paraffinConsumption.paraffinDeviationPercent}}
        </span>
      </td>
    </tr>
    </tbody>
  </table>


</div>
