@import "../../../../variables";

.normal {
  border-color: $font-color;
  color: $color-warning;
}

.critical {
  border-color: $font-color;
  color: $color-nok;
}

table {
  width: auto;
  margin-bottom: 2rem;
}
