@import "src/variables";

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.container:hover {
  cursor: pointer;
  background-color: $body-background;
  border-radius: 10%;
}

.container.active {
  background-color: $body-background;
  color: #fff; // white text for contrast
}

.icon-el {
  margin-bottom: .5rem;
}
