.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: block;
}

.title-first {
  display: flex;
  font-size: xx-large;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

.title-second {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.7;
}
