$top-bar-background: #252728;
$body-background: #1c1c1d;
$font-color: #e2e5e9;
$top-bar-height: 6rem;
$layout-border-color: rgba(128, 128, 131, 0.55);
$border-width: .1rem;
$color-ok: #007bff;
$color-nok: #dc3545;
$color-disabled: #6c757d;
$color-warning: #ffc107;
$color-success: #28a745;
$body-background-hover: #161617;
